.scheduler-sidebar__ {
  &btn-link {
    border-radius: 0;
    width: 100%;
    height: 48px;
    color: #ffffff8c;
    border-left: 2px solid rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
    &:hover {
      color: #ffffff8c;
      &:active {
        color: #ffffff8c;
      }
    }
  }

  &ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
  }
}

.btn-check:checked + .btn,
:not(.btn-check) + .btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
  border-left: 2px solid #ffffff8c;
  color: #ffffff8c;
}
