rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // write = create, update, delete
    // read = get, list
    // ===
    // create: Allows adding a new document to the collection.
    // update: Allows changing data in an existing document.
    // delete: Allows removing a document from the collection.
    // ===
    // get: Allows reading a single document.
    // list: Allows reading multiple documents in a collection.

    // Helper function to get the user's role from the 'users' collection
    function getUserRole() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role;
    }

    match /roles/{roleName} {
      allow read: if request.auth != null;
      allow write: if getUserRole() == 'admin';
    }

    match /users/{userId} {
      // Admin: full control
      allow read, write: if request.auth != null && (getUserRole() == 'admin');

      // Regular user: self only
      allow read, create, delete: if request.auth != null && request.auth.uid == userId;
      allow update: if request.auth != null && request.auth.uid == userId
                    && !('role' in request.resource.data); // Prevent role changes by users
    }
  }
}
