@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.dropzone {
  // Base styles for both desktop and mobile.
  transition: all 0.2s ease-in-out;
  border: 2px dashed $gray-400;
  border-radius: $border-radius-lg;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.5rem;
  cursor: pointer;
  animation: blink-background 1.5s infinite forwards;

  // --- Desktop (Mouse Primary) Styles ---
  color: $gray-600;
  background-color: $gray-100;

  &:hover {
    background-color: lighten($blue, 30%);
    border-color: $blue;
    animation: none;
    color: $blue;
  }

  // --- Mobile (Touch Primary) Styles ---
  &.is-touch {
    color: $white;
    background-color: $primary;
    border-style: solid;
    border-color: darken($primary, 10%);

    &:hover {
      background-color: darken($primary, 5%);
    }
  }

  // --- Dragging State (for desktop only) ---
  &.is-dragging {
    background-color: lighten($blue, 40%);
    border-color: $blue;
  }

  @keyframes blink-background {
    0% {
      background-color: $gray-100;
      border-color: $gray-400;
    }
    50% {
      background-color: lighten($blue, 40%);
      border-color: $blue;
    }
    100% {
      background-color: $gray-100;
      border-color: $gray-400;
    }
  }
}
