.home__ {
  &section_ctn {
  }
}

.swiper {
  width: 100%;
  height: 100%;
  background: #000;
}

.swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  //background-image: url("https://swiperjs.com/demos/images/nature-1.jpg");
}

.swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}

.swiper-slide .subtitle {
  font-size: 21px;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}

@media (min-width: 576px) {
  .home__ {
    &section_ctn {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }
  }
}

@media (min-width: 768px) {
  .home__ {
    &section_ctn {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }
  }
}

@media (min-width: 992px) {
  .home__ {
    &section_ctn {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }
  }
}

@media (min-width: 1200px) {
  .home__ {
    &section_ctn {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }
  }
}

@media (min-width: 1440px) {
  .home__ {
    &section_ctn {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }
  }
}