.user-profile-page__ {
  &ctn {
    display: flex;
    justify-content: flex-start; // stack items top to bottom
    align-items: center; // keep it centered horizontally
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto; // scroll works only when neededss
  }
}
