.header__ {
  &nav-active-color {
    color: black;
  }
}

// The following styles is a workarrond to replace the order-lg-last
// class, because the offcanvas menu do now automatically hides when
// the screen is resized to lg or above.

#offcanvasNavbar-expand-lg #login-container {
  order: 999;
}

#offcanvasNavbar-expand-lg.show #login-container {
  order: 0;
}
